body {
  font-family: "DM Sans", sans-serif;
  overflow-y: visible;
  overflow-x: hidden;
}

.animationHero {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.leftToRight {
  animation: appearLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.rightToLeft {
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.panel {
  min-width: 100vw;
  height: 100vh;
}

bg {
  background-color: aqua;
}

bg {
  // bg-pink-50 dark:bg-pink-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
}

.HeroBg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/FinalBg.svg");
}
.HeroBg2 {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/FinalBg2.svg");
}

.IsmsBg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/ImsiBg.png");
}
.IsmsBg2 {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/ImsiBg2.png");
}
.navBg {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./images/NavBg.png");
  background-repeat: no-repeat;
}

.FormBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/FinalBg.svg");
}

.parentBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/parentHero.jpg");
}

.schoolBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/school/school\ \(2\).jpg");
}

.HowItWorksPink {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/HowItWorksPink.png");
}

.HowItWorksBlue {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/HowItWorksBlue.png");
}

//FORMS

.getStartedBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/bgForm.jpg");
}
.getStartedBg1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/parent/parentBg1.png");
}
.getStartedBg2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/parent/parentBg2.png");
}
.parentFormBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/parent/parentFormBg.jpg");
}
.schoolFormBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/schoolForm.jpg");
}

.outComesBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/school/outcomes.jpg");
}

.ServiceProviderFormBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/serviceProviderBg.jpg");
}

.internShipBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/internShipBg.jpg");
}

// .scheduleBg {
//   width: 100%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-image: url("./images/getStarted/scheduleAppoinment.jpg");
// }

.galleryGradient {
  background-color: hsla(0, 100%, 75%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(27, 0%, 100%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 88% 0%, hsla(189, 100%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(13, 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 100%, hsla(240, 100%, 87%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 10%, hsla(343, 100%, 91%, 1) 0px, transparent 50%);
}

// .box {
//   display: grid;
//   place-content: center;

//   --border-angle: 0turn; // For animation.
//   --main-bg: conic-gradient(
//     from var(--border-angle),
//     #213,
//     #112 5%,
//     #112 60%,
//     #213 95%
//   );

//   border: solid 5px transparent;
//   border-radius: 2em;
//   --gradient-border: conic-gradient(
//     from var(--border-angle),
//     transparent 0%,
//     #08f,
//     #f03 99%
//   );

//   background:
//     // padding-box clip this background in to the overall element except the border.
//     var(--main-bg) padding-box,
//     // border-box extends this background to the border space
//     var(--gradient-border) border-box,
//     // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
//     var(--main-bg) border-box;

//   background-position: center center;

//   animation: bg-spin 10s linear forwards infinite;
//   @keyframes bg-spin {
//     to {
//       --border-angle: 6turn;
//     }
//   }
// }

// @property --border-angle {
//   syntax: "<angle>";
//   inherits: true;
//   initial-value: 0turn;
// }

.gradient {
  margin: 0 auto;
  width: calc(100% - 100px);
  text-align: center;
  position: relative;
  box-sizing: border-box;
  color: white;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 4px;
}
.gradient span {
  position: relative;
  z-index: 2;
  align-items: center;
  // background: rgb(72, 62, 255);
  // background: #333333;
  // background: #3138ff;
  // background: #0d47a1;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 5px;
}
.gradient:before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 800%;
  height: 100%;
  background: linear-gradient(
    110deg,
    #4de94c,
    #f60000,
    #cd00cd,
    #ff8c00,
    #ffee00,
    #18d43f,
    /* more colors*/ #4de94c,
    #f60000,
    #cd00cd,
    #ff8c00,
    #ffee00,
    #4de94c,
    #f60000,
    #cd00cd,
    #ff8c00,
    #ffee00,
    #4de94c,
    #f60000,
    #cd00cd
  );
  /*   background-size: 100% 100%; */
}

.gradient:before {
  animation: gradient-animate 5s linear infinite;
}

@keyframes gradient-animate {
  to {
    transform: translateX(-50%);
  }
}
.stepGradient {
  color: transparent;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}
.zoomIsms {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoomIsms:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.blockquote {
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, rgb(255, 255, 255));
  font-weight: 600;
  background-color: var(--bg-color, rgb(255, 45, 122));
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(
    circle,
    var(--dot-color, rgba(255, 255, 255, 0.31)) calc(25% - 1px),
    transparent 25%
  );
  background-size: 0.5rem 0.5rem;
}

.IsmsWhatNext {
  background-image: radial-gradient(
    circle,
    var(--dot-color, rgba(255, 255, 255, 0.121)) calc(25% - 1px),
    transparent 25%
  );
  background-size: 0.5rem 0.5rem;
}

//ANIMATION SECTION
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

//   // /// ///////////////////////////////////////////////////
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: full;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: fit-content;
  }
}
